body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.nav {
  padding: 16px;
  background: none;
  color: black;
}

.nav a {
  color: black;
  font-weight: bold;
}

.nav--logo {
  float: left;
}

.nav--right {
  text-align: right;
}

.nav--right span {
  margin-left: 16px;
}

.profile--container {
  padding: 16px;
}

@media (min-width: 576px) {

}

.profile--container h3 {
  font-weight: bold;
  text-align: center;
  padding: 8px 0;
}

.profile--container a {
  color: blue;
}

.profile--info {
  
}

.profile--info li {
  padding: 0 0 8px 0;
}

.profile--books {

}

.profile--books li {
  padding: 8px 0;
  border-bottom: 1px solid lightgray;
}

.editprofile--container {
  padding: 16px;
}

.editprofile--container h3 {
  font-weight: bold;
  text-align: center;
}

.editprofile--container label {
  display: block;
  padding: 8px 0;
  color: gray;
}

.editprofile--container input {
  display: block;
  border: none;
  border-radius: none;
  border-bottom: 1px solid gray;
  font-size: 1em;
  padding: 4px 0;
  width: 100%;
}

.addbook--container label {
  color: gray;
  display: block;
  padding: 4px 0;
}

.addbook--container input {
  display: block;
  border: none;
  border-radius: none;
  border-bottom: 1px solid gray;
  font-size: 1em;
  margin: 4px 0;
  width: 100%;
}

.bookrequests--container li {
  padding: 8px 0;
  border-bottom: 1px solid lightgray;
}

.button--yes {
  border: none;
  color: green;
  background: none;
  font-size: 1em;
  cursor: pointer;
  padding: 0;
}

.button--no {
  border: none;
  color: red;
  background: none;
  font-size: 1em;
  cursor: pointer;
  padding: 0;
}

