/*
All Components
*/

body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.loading {
  text-align: center;
}

.error {
  text-align: center;
}

.float-right {
  float: right;
}

/* 
Buttons
*/

.button--yes {
  border: none;
  color: green;
  background: none;
  font-size: 1em;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.button--no {
  border: none;
  color: red;
  background: none;
  font-size: 1em;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.button--padding {
  padding: 8px 0;
  display: inline-block;
}

/*
Site container
*/

.site--container {
  margin: 0 auto;
  max-width: 1080px;
}

/*
Nav
*/

.nav {
  padding: 16px;
  background: none;
  color: black;
}

.nav a {
  color: black;
  font-weight: bold;
}

.nav--logo {
  float: left;
}

.nav--right {
  text-align: right;
}

.nav--right span {
  margin-left: 16px;
}

/*
Profile
*/

.profile--container {
  padding: 16px;
}

.profile--container h3 {
  font-weight: bold;
  text-align: center;
  padding: 8px 0;
}

.profile--container li a {
  color: blue;
}

.profile--container li {
  padding: 8px 0;
  border-bottom: 1px solid lightgray;
}

/*
AddBook, EditProfile
*/

.form--container {
  padding: 16px;
}

.form--container h3 {
  font-weight: bold;
  text-align: center;
  padding: 8px 0;
}

.form--container label {
  display: block;
  padding: 8px 0;
  color: black;
}

.form--container input {
  display: block;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid lightgray;
  font-size: 1em;
  padding: 4px 0;
  width: 100%;
}

/*
all books 
*/

.home--container h3 {
  text-align: center;
  font-weight: bold;
  padding: 8px 0;
}

.allbooks--container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.allbooks--container h3 {
  text-align: center;
  font-weight: bold;
  padding: 8px 0;
}

.book--container {
  margin: 0 auto;
  padding: 16px 0 0 0;
  width: 33.33%;
  text-align: center;
  display: flex;
  flex: 0 1 auto;
  border-radius: 0;
  justify-content: center;
}

.book--container span {
  display: block;
  padding: 16px 8px 0px 8px;
}

.book--placeholder-book-cover {
  height: 150px;
  width: 100px;
  background: navy;
  margin: 0 auto;
  color: white;
  text-align: center;
}

@media (min-width: 576px) {
  .book--container {
    width: 25%;
  }
}

@media (min-width: 768px) {
  .book--container {
    width: 20%;
  }
}

@media (min-width: 992px) {
  .book--container {
    width: 16.66%;
  }
}

/* 
single book view 
*/

.bookview--padding-container {
  padding: 16px;
}

.bookview--padding-container h3 {
  font-weight: bold;
  text-align: center;
}

.bookview--container {
  margin: 0 auto;
  padding: 16px 0 0 0;
  width: 100%;
  text-align: center;
  border-radius: 0;
}

.bookview--container span {
  display: block;
  padding: 16px 8px 0px 8px;
}

.bookview--container li {
  padding: 8px 0;
  border-bottom: 1px solid lightgray;
}

.bookview--container li:nth-child(1) {
  padding: 16px 0 8px 0;
}

.bookview--container h6 {
  padding-bottom: 8px;
  font-weight: bold;
}