/*
All Components
*/

body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.loading {
  text-align: center;
}

.error {
  text-align: center;
}

.float-right {
  float: right;
}

@media (min-width: 576px) {

}

/* 
Buttons
*/

.button--yes {
  border: none;
  color: green;
  background: none;
  font-size: 1em;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.button--no {
  border: none;
  color: red;
  background: none;
  font-size: 1em;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.button--padding {
  padding: 8px 0;
  display: inline-block;
}

/*
Nav
*/

.nav {
  padding: 16px;
  background: none;
  color: black;
}

.nav a {
  color: black;
  font-weight: bold;
}

.nav--logo {
  float: left;
}

.nav--right {
  text-align: right;
}

.nav--right span {
  margin-left: 16px;
}

/*
Profile
*/

.profile--container {
  padding: 16px;
}

.profile--container h3 {
  font-weight: bold;
  text-align: center;
  padding: 8px 0;
}

.profile--container li a {
  color: blue;
}

.profile--container li {
  padding: 8px 0;
  border-bottom: 1px solid lightgray;
}

/*
AddBook, EditProfile
*/

.form--container {
  padding: 16px;
}

.form--container h3 {
  font-weight: bold;
  text-align: center;
  padding: 8px 0;
}

.form--container label {
  display: block;
  padding: 8px 0;
  color: black;
}

.form--container input {
  display: block;
  border: none;
  border-radius: none;
  border-bottom: 1px solid lightgray;
  font-size: 1em;
  padding: 4px 0;
  width: 100%;
}
